<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
    <div class="well">
        <h1 class="product-thin">Justin Murdock</h1>
        <h2 class="product-thin">Full Stack Web Developer</h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="product-thin">Work Experience</h3>
                <p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
            </div>
            <div class="col-md-6">
                <h3 class="product-thin">Certifications</h3>
                <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <h3 class="product-thin">Justin's Skills</h3>
                <div class="row" data-ng-include="'/modules/core/views/carousel.client.view.html'"></div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="product-thin">Justin's Projects</h3>
            </div>
        </div>
    </div>
</section>