<section data-ng-controller="JustinWorkExperienceController">
<!-- start template for a work entry -->
    <ul><li><h3 class="product-thin">
        Lyris, Inc
    </h3></li>
    <ul>
        <li><h4 class="product-thin">
            time: 1 year, 11 months
        </h4></li>
        <li><h4 class="product-thin">
            role: Jr Software Engineer
        </h4></li>
        <li><h4 class="product-thin">
            duties: Design and maintain internal services for monitoring customer data. Set up scheduled tasks to retrieve data and store it in a datawarehouse, or send an email report with that information. Programmed in PHP, Javascript & AngularJS, Python and Java depending on the appropriate implementation. I wrote billing scripts for new products released by Lyris and rewrote old billing scripts to be more secure - by removing sensitive information from the file and putting it in a configuration, it then is OK to publish the code (with no sensitive data) on github, because you simply don't include the passwords file. Also created a Javascript frontend to perform CRUD operations on databases, to increase the efficiency of the Support and Deliverability Teams.
        </h4></li>
    </ul>
    </ul>
    <!-- end template for work entry -->
    
    <ul><li><h3 class="product-thin">
        AirWorthiness Standards Institute
    </h3></li>
    <ul>
        <li><h4 class="product-thin">
            time: 6 months
        </h4></li>
        <li><h4 class="product-thin">
            role: Principle Developer
        </h4></li>
        <li><h4 class="product-thin">
            duties: Design and maintain a responsive, mobile friendly website which through a modern User Interface provides the ability to accept money and send the customer a ticket granting them access to attend Worldwide AirWorthiness Seminars. The Seminar Event hosts also had to have a system for their Guest list. I implemented external systems involving the entire web stack - in the back end configuring the payment processors, and in the front end provide a modern user interface, automatically seperates credit card input into groups of 4 digits, client-side validations. I also implemented Internal systems so that the owner of the company, who is in his 70s, could put his own events in without me, provide X,Y coordinates, a description, a title, a price, etc; and the html front end renders filling out whatever templates were submitted. when all he has to edit is a configuration file, he can add a new event in 10 minutes, with a fully interactive map and payment button and forms.
        </h4></li>
    </ul>
    </ul>
    
</section>
<section>
    <hr style="border-bottom:2px solid black">
    <h2>Hobbies</h2><a href="http://stackoverflow.com/users/3100494/j-dizzle?tab=profile">
    <h3 class="product-thin">Hobby: Stack Overflow answering tags: AngularJS, PHP, Grunt, CSS, and SQL</h3>
    <img src="/modules/core/img/certificates/stackoverflow1413.JPG" class="img-responsive"></a>
    
    <li><a href="http://www.juliusakula.com/hardware-and-performance/"><h3 class="product-thin">Hobby: Mining Bitcoins and Altcoins</h3></li>
    <img src="http://i.imgur.com/yiD9YBM.jpg" class="img-responsive"></a>
    
</section>