<section data-ng-controller="JustinCertificationsController">
    <li><a href="http://juliusakula.github.io/certificates/Front%20End%20Web%20Developer%20Nanodegreee%20Completion.pdf"><h3 class="product-thin">Udacity Nanodegree - Frontend Web Development</h3></li>
    <img src="/modules/core/img/certificates/nanodegree-completion.JPG" class="img-responsive"></a>
    
    <li><a href="https://www.codeschool.com/users/juliusakula"><h3 class="product-thin">Code School - Javascript, HTML, Git</h3></li>
    <img src="/modules/core/img/certificates/codeschoolreportcard.JPG" class="img-responsive"></a>
    
    <li><a href="https://www.coursera.org/account/accomplishments/verify/7C3P4MSZZJ"><h3 class="product-thin">Ruby on Rails - Web Application Architecture. University of New Mexico & Coursera *Distinction</h3></li>
    <img src="/modules/core/img/certificates/rubyonrails.JPG" class="img-responsive"></a>
    
    <li><h3 class="product-thin">Code Academy - Completed PHP</h3></li>
    <iframe src="https://www.codecademy.com/Akulanite" width="100%" height="450"></iframe>
</section>