<section>
	<li><a href="http://juliusakula.github.io/type-fast/"><h3  class="product-thin">Learn to Type faster in the browser, Demo on github.</h3></li>
    <img src="/modules/core/img/certificates/type-fast.JPG" class="img-responsive" width="100%"></a>
    
    <li><a href="http://juliusakula.github.io/editor/#/"><h3  class="product-thin">Edit Markdown (Github documentation) in the browser, Demo on github</h3></li>
    <img src="/modules/core/img/certificates/markdown.JPG" class="img-responsive" width="100%"></a>
    
    <li><a href="http://juliusakula.github.io/game/"><h3  class="product-thin">Boy VS Bugs - Javsascript Game, Demo on github</h3></li>
    <img src="/modules/core/img/certificates/game.jpg" class="img-responsive" width="100%"></a>
    
</section>